@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #134b5f;
    font-family: 'Lato', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 140px;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    /* height: 70px; */
    
}

.list ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.list  ul li {
    padding: 0 25px;
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
    height: 74px;
}

div.sreachbox {
    display: flex;
    align-self: center;
}

#sreach {
    background-color: #51abcb;
    width: 18vw;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 7px;
}

#btn {
    background-color: #51abcb;
    width: 54px;
    height: 23px;
    border-color: aqua;
    border-radius: 6px;
    cursor: pointer;
}

/* ---------------------footer----------------- */
.footer {
    background-color: #1b6986;
    color: white;
    height: 44px;
    justify-content: center;
    display: flex;
    align-items: center;
}
footer p{
letter-spacing: 1.29px;
font-size: 16px;
line-height: 1;
font-weight: lighter;
}